body{
    background-color: rgb(33, 33, 56);
    text-align: center;

}
form{
    background-color: rgb(245, 248, 250);
    padding: 30px;
    margin: 50px;
   
    
}
h1{
    background-color: rgb(71, 71, 129) ;
    font-size: 2rem;
    color: aliceblue;
    
}
p{
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form.corps-formulaire{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

} 
form.corps-formulaire.gauche.groupe{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}
input{
    margin-top: 10px;
    padding: 10px ;
    border: 1px solid #c9c9c9;
    outline-color: rgb(71, 71, 129);
    border-radius: 3px;
}
form.corps-formulaire.droit.groupe{
    height: 50%;
}
.label.option{
    outline-color: rgb(71, 71, 129);
    margin-top: 10px;
}
.label.select{
    outline-color: rgb(71, 71, 129);
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
    padding: 10px ;
    border: 1px solid #c9c9c9;
    outline-color: rgb(71, 71, 129);
    border-radius: 3px;
}